In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import entropy
import os

%matplotlib inline

In [9]:
cwd = os.getcwd()
datadir = '/'.join(cwd.split('/')[0:-1]) + '/data/'
print(datadir)

/Users/data/

In [12]:
df1=pd.read_csv("Desktop/locationcsv.csv")

In [11]:
print(df1)

                           location
0                       Acid Island
1                         stone, uk
2                                NC
3                                UW
4                            London
5                fictive psychosis
6                      Indiana, USA
7                       Raleigh, NC
8                    United Kingdom
9         iPhone: 0.000000,0.000000
10                               UK
11             Melbourne, Australia
12                    louisville KY
13                               NY
14                         Indy, IN
15                    Lancaster, CA
16                             hell
17              Toronto, ON, Canada
18      Claremont, Perth, Australia
19              South Carolina, USA
20                        Manhattan
21                          Cardiff
22                          Chicago
23                        Minnesota
24                          USA~ OK
25                       Tigard, OR
26                           London
27                          Indiana
28         Somerset/Dorset, England
29                  Madison, Wi USA
..                              ...
837     iPhone: 51.448024,-0.001808
838        Irish girl in Surrey, UK
839                    Newcastle UK
840                 Ontario, Canada
841                       Hinchtown
842              Oklahoma City, OK
843               satan's buttcrack
844                          London
845                      tewkesbury
846                             NYC
847                         Canada!
848                           TEXAS
849                      Lancashire
850                Barnham, England
851                              UK
852                       Suffolk.
853                     SF Bay Area
854                              uk
855                           bucks
856                         Chicago
857                        Brooklyn
858  Zanesville, OH to St. Louis,MO
859       instagram: mollie_woodier
860                     Chicago, IL
861             Sterling heights mi
862                      Denver, CO
863                     In transit
864                          London
865     everywhere life takes me..
866                     My Computer

[867 rows x 1 columns]

In [14]:
dfstates=pd.read_csv("Desktop/us_states.csv")

In [16]:
print(dfstates)

           ALABAMA         Alabama  AL
0           ALASKA          Alaska  AK
1          ARIZONA         Arizona  AZ
2         ARKANSAS        Arkansas  AR
3       CALIFORNIA      California  CA
4         COLORADO        Colorado  CO
5      CONNECTICUT     Connecticut  CT
6         DELAWARE        Delaware  DE
7          FLORIDA         Florida  FL
8          GEORGIA         Georgia  GA
9           HAWAII          Hawaii  HI
10           IDAHO           Idaho  ID
11        ILLINOIS        Illinois  IL
12         INDIANA         Indiana  IN
13            IOWA            Iowa  IA
14          KANSAS          Kansas  KS
15        KENTUCKY        Kentucky  KY
16       LOUISIANA       Louisiana  LA
17           MAINE           Maine  ME
18        MARYLAND        Maryland  MD
19   MASSACHUSETTS   Massachusetts  MA
20        MICHIGAN        Michigan  MI
21       MINNESOTA       Minnesota  MN
22     MISSISSIPPI     Mississippi  MS
23        MISSOURI        Missouri  MO
24         MONTANA         Montana  MT
25        NEBRASKA        Nebraska  NE
26          NEVADA          Nevada  NV
27   NEW HAMPSHIRE   New Hampshire  NH
28      NEW JERSEY      New Jersey  NJ
29      NEW MEXICO      New Mexico  NM
30        NEW YORK        New York  NY
31  NORTH CAROLINA  North Carolina  NC
32    NORTH DAKOTA    North Dakota  ND
33            OHIO            Ohio  OH
34        OKLAHOMA        Oklahoma  OK
35          OREGON          Oregon  OR
36    PENNSYLVANIA    Pennsylvania  PA
37    RHODE ISLAND    Rhode Island  RI
38  SOUTH CAROLINA  South Carolina  SC
39    SOUTH DAKOTA    South Dakota  SD
40       TENNESSEE       Tennessee  TN
41           TEXAS           Texas  TX
42            UTAH            Utah  UT
43         VERMONT         Vermont  VT
44        VIRGINIA        Virginia  VA
45      WASHINGTON      Washington  WA
46   WEST VIRGINIA   West Virginia  WV
47       WISCONSIN       Wisconsin  WI
48         WYOMING         Wyoming  WY

In [21]:
'NC' in (dfstates.values)

True

In [22]:
print(df1.columns)

Index(['location'], dtype='object')

In [24]:
'London' in (dfstates.values)

False